
#timer-label{
  font-size: 20px;
  color: pink;
  font-weight: bold;
}


#start_stop{
  font-size: 20px;
  color: pink;
  font-weight: bold;
}
#time-left{
  font-size: 20px;
  color: pink;
  font-weight: bold;
}